@use '../utilities/variable' as *;

.main {
    margin-top: 10px;
    padding: 20px;
}

h1 {
    font-family: $font-principal;
    color: $color-primario;
}

h2 {
    font-family: $font-principal;
    font-size: 15px;
    color: $color-primario;
    text-align: center;

    &.h2 {
        text-align: start;
    }
}

h3 {
    font-family: $font-principal;
    font-size: 15px;
    text-align: center;
    margin: 5px;

    &.h3 {
        text-align: start;
    }
}

p {
    color: $color-primario;
}

.tit {
    text-align: center;
}

@media (min-width: 480px) and (max-width: 1023px) {
    .main {
        grid-template-columns: repeat(2, 1fr);
    }

    .encabezado {
        position: relative;
    }
}

@media (min-width: 300px) and (max-width: 479px) {
    .main {
        grid-template-columns: auto;
    }

    .encabezado {
        position: relative;
    }
}

.animacion-entrada {
    animation: fadeIn 0.6s ease-out forwards;
}