.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 20px;

    article {
        width: calc(33.33% - 30px);
        min-width: 280px;
    }
}

.prod {
    margin: 20px;
}

.articulo {
    width: 100%;
    max-width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.titulo {
    text-align: center;
    text-decoration-color: black;
}

.foto-prod {
    grid-area: imagen;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.texto-prod {
    grid-area: contenido;
}

.tarjeta-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "imagen"
        "contenido";
    gap: 20px;
    padding: 15px;
}

.carousel-item {
    width: 100%;
    max-width: 400px;
    height: 400px;
    object-fit: cover;
}

@media (min-width: 768px) {
    .tarjeta-grid {
        grid-template-columns: 1fr 8fr;
        grid-template-areas: "imagen contenido";
        gap: 20px;
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }
}